.order-show {
  display: none;
}

body {
  background-color: #bfafaf;
  background: url('https://images.unsplash.com/photo-1440637475816-2e8bf1d4b6f3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=9000dbcc94e0bad6c5005dc1d867b105') center center fixed;
}

.jumbotron {
  padding: 20px;
  padding-bottom: 20px;
  /*background-color: #E6E1DF;*/
  background-size: cover;
  text-align: center;
  margin-top: 2%;
  margin-right: 10%;
  margin-left: 10%;
}

.jumbotron h1 {
  font-size: 3.5em;
}

.form-control {
  text-align: center;
  width: 100px;
  margin: auto;
  align: center;
}

h1 {
  text-align: center;
  font-family: 'Pacifico', cursive;
  padding-top: -45px;
  padding-bottom: 10px;
}

h2 {
  font-size: 2em;
}

h3 {
  color: black;
  font-size: 1.5em;
}
