.order-show {
  display: none;
}

body {
  background-color: olive;
  background: url('8slices.jpg') center center fixed;
}

.jumbotron {
  padding: 20px;
  padding-bottom: 50px;
  background-color: beige;
  background-size: cover;
  text-align: center;
  margin-right: 30px;
  margin-left: 30px;
}

.form-control {
  text-align: center;
  width: 100px;
  margin: auto;
  align: center;
}

h1 {
  text-align: center;
  /*font-family: 'Gloria Hallelujah', cursive;*/
  font-family: 'Pacifico', cursive;
  padding-top: -45px;
  padding-bottom: 10px;
}

h2 {
  font-size: 2em;
}

h3 {
  color: green;
}
